.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.vcxproj.user

build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

*.o
*.obj
*.lo
*.la
*.pch
*.lib
*.a
*.dll
*.so
*.exe
*.ilk
*.pdb
*.idb
*.log
*.tlog

*~
*.swp
*.bak